.forgotpassword__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.forgotpassword__form--block {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 4rem;
    width: 4rem;
  }

  p {
    margin-top: 1rem;
  }

  input {
    padding: 0.5rem;
    margin-top: 2rem;
    font-size: 1rem;

    border: var(--color-gray);
    box-shadow: 0 1px 2px var(--color-light-black);
    border-radius: var(--border-radius-md);
  }

  button {
    margin-top: 2rem;
    padding: 1rem;

    background: var(--color-green);
    border-radius: var(--border-radius-md);
    color: var(--color-white);
    transition: var(--transition);

    &:hover {
      opacity: 0.8;
    }
  }
}

.account-not-registered {
  width: 25rem;

  a {
    color: var(--color-blue);
    text-decoration: underline;
  }
}
