.layout {
  background: var(--color-white);
  color: var(--color-light-black);
  height: 100%;

  @media (max-width: 1332px) {
    height: 100vh;
  }
}

.layout.dark {
  // Make dark theme for all page
  background: var(--color-dark-theme);

  .container {
    background: var(--color-dark-theme);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  label {
    color: var(--color-white);
  }

  .main__search {
    background: var(--color-light-black);
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.1);
    transition: var(--transition);

    &:hover {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    }
  }

  .main__list-daily {
    li {
      background: var(--color-light-black);
      box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.1);

      transition: var(--transition);

      &:hover {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

  .main__list-hourly,
  .main__sunrise-list {
    background: var(--color-light-black);
    border-radius: var(--border-radius-md);
    box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.1);
  }
}
