.burger-menu {
  color: var(--color-white);
  display: none;
  margin-top: 1rem;
  margin-right: 0.5rem;
  font-size: 2rem;
  z-index: 999;

  @media (max-width: 1193px) {
    display: block;
  }

  @media (max-width: 353px) {
    margin-left: -1rem;
  }
}

.burger-menu__content {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: var(--color-light-black);
  top: 0;
  left: 0;
  height: 100vh;
  width: 90%;

  li {
    padding: 1rem;

    a {
      color: var(--color-white);
      margin-left: 0.5rem;
    }
  }
}

.burger-menu__icon {
  margin-left: 1rem;
  margin-top: 1rem;
}
