@font-face {
  font-family: "Habanera-light";
  src: local("../fonts/Habanera-Light.woff2"),
    url("../fonts/Habanera-Light.woff2") format("opentype");
}

@font-face {
  font-family: "Habanera";
  src: local("../fonts/Habanera-Medium.woff2"),
    url("../fonts/Habanera-Medium.woff2") format("opentype");
}

@font-face {
  font-family: "Habanera-SBold";
  src: local("../fonts/Habanera-SemiBold.woff2"),
    url("../fonts/Habanera-SemiBold.woff2") format("opentype");
}

@font-face {
  font-family: "Habanera-Bold";
  src: local("../fonts/Habanera-Bold.woff2"),
    url("../fonts/Habanera-Bold.woff2") format("opentype");
}

@font-face {
  font-family: "Habanera-EBold";
  src: local("../fonts/Habanera-ExtraBold.woff2"),
    url("../fonts/Habanera-ExtraBold.woff2") format("opentype");
}
